/*== Testimonials
=================================================================
#testimonials {
    background-image: url(../img/parallax/testimonial.jpg);
    padding: 0;
    color: #fff;
}
#testimonials .sec-title h2:after {
    border-bottom: 1px solid #fff;
}
#testimonials .overlay {
    background-color: rgba(15,155,224, 0.78);
    padding: 60px 0;
}
.testimonial-item {
    margin: 0 auto;
    width: 60%;
}
.testimonial-item > div {
    line-height: 30px;
    position: relative;
}
.testimonial-item > div:before {
    background-image: url("../img/icons/quotes.png");
    background-repeat: no-repeat;
    top: 0;
    height: 33px;
    left: -45px;
    position: absolute;
    width: 45px;
    opacity: 0.3;
}
.testimonial-item > div:after {
    background-image: url("../img/icons/quotes.png");
    background-position: -58px 0;
    background-repeat: no-repeat;
    top: 0;
    height: 33px;
    position: absolute;
    right: -45px;
    width: 45px;
    opacity: 0.3;
}
.testimonial-item > div > span {
    display: inline-block;
    font-weight: 700;
    margin: 40px 0 30px;
    text-transform: uppercase;
}
.testimonial-item div p {
    max-width: 80%;
    margin: 0 auto;
}
#testimonials .owl-controls.clickable {
    margin-top: 20px;
    text-align: center;
}
#testimonials .owl-buttons {
    float: inherit;
}
    #testimonials .owl-buttons .fa-lg {
    font-size: 30px!important;
    padding: 0 6px;
}
#testimonials .owl-prev,
#testimonials .owl-next {
    color: #fff;
    opacity: .7;
}
#testimonials .owl-prev:hover,
#testimonials .owl-next:hover {
    color: #fff;
    opacity: 1;
}=*/