<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www.)?phuthwaite.github.io$
RewriteCond %{REQUEST_URI} !^/_phwp/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /_phwp/$1
RewriteCond %{HTTP_HOST} ^(www.)?phuthwaite.github.io$
RewriteRule ^(/)?$ _phwp/index.php [L] 
</IfModule>
