/* Gallery/Folio Slides
==================================================*/
.fancybox-slide {
  background: transparent;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}
.folio-slide {
  width: 100%;
  max-width: 1200px;
	margin: 0 auto;
  display: block;
  color: #fff;
  background: rgba(0,0,0,0.8);
  transition-property: opacity;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  padding-bottom: 4px;
}
.folio-slide .folio-pics img {
  display: block; 
  height: 100%;
  max-height: 1000px;
  max-width: 100%;
  margin: 0 auto;
}
.folio-slide .row { margin: 0; }
.folio-slide .folio-detail, .folio-pics {
  padding: 10px 16px;
}
.folio-slide .folio-pics {
  margin-bottom: -12px;
}
.folio-slide .folio-detail {
  font-family: 'Montserrat';
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--ph-litetext);
}
.folio-slide .folio-detail-label { 
  font-family: 'Montserrat';
  width: 65px; 
    font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--ph-litetext);
  letter-spacing: .5px;
  opacity: 0.7;
  float: left;
    display: block;
}
.folio-slide.fancy-dot{
  position: absolute; bottom: 30px; left: 50%;
}
.fancy-dot {
    display: block;
    background-color: green;
    opacity: 0.6;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin: 0 12px;
/*    border: none!important;*/
}
.folio-slide .description {
    border-bottom: 1px solid rgba(60,60,60,1);
    padding: 8px 0 10px 0;
    margin-bottom: -8px;
    color: white;
}
.duckula {display: none;}

/*== |-------------  767px -|  XS ONLY ==*/
@media (max-width: 767px) {
  .folio-detail {font-size: 0.9em!important;}
}
/*.description .count .duckula {margin-right: 16px;}*/

/* Custom animation */


/*.fancybox-slide--next .folio-slide>div {
  transform: translateX(50%);
  opacity: 0;
}
.fancybox-slide--prev .folio-slide>div {
  transform: translateX(-50%);
  opacity: 0;
}
.fancybox-slide .folio-slide>div {
  transform: translateX(0);
  opacity: 1;
  transition: transform .3s ease-out;
}*/



