@media all and (min-width: 768px) {
  a.fancybox img {
    height: 300px; width: 300px;
    float: left;
  }
  a.fancybox.hidden img {
    display: none;
  }
  .fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 60px;
    padding: 6px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.4);
  }
.fancybox-show-thumbs .fancybox-inner {
   right: 0;
    /*bottom: 0;*/
}
  .fancybox-thumbs a {
    background-image: none!important;
    background-color: white;
    opacity: 0.6;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: 0 12px;
    border: none!important;
  }
  *[fancybox-thumbs]:before {
    border: none!important;
  }
  .fancybox-thumbs a:hover,
  .fancybox-thumbs a:active,
  a.fancybox-thumbs-active {
    opacity: 1;
  }
  a.fancybox-thumbs-active {
  background-color: fuchsia;
}
.fancybox-thumbs__list {
  margin: 0 auto;
  border: 1px solid blue;
}
.blurify {
/*  filter: blur(7px);
     -webkit-transition: all .7s ease-out;
      -moz-transition: all .7s ease-out;
         transition: all .7s ease-out;*/
         -webkit-filter: blur(7px)
         -webkit-transform: translate3d(0, 0, 0);
}
figcaption.mask {
  display: none;
}
.fancybox-caption span.year {
    font-size: 13px;
    line-height: 19px;
    color: var(--ph_midtext);
    font-weight: 500;
    display: block;
    margin: 2px auto;
}
.fancybox-caption {
  background: rgba(255,255,255,0.6); font-size: 1em;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99996;
  pointer-events: none;
  text-align: left;
  color: black;
}
.fancybox-caption.caption--image {
   width: 100%;
   bottom: 0;
   padding: 10px;
   transform: translateY(100%);
}
.fancybox-inner > .fancybox-caption {
    display: none;
}
.fancybox-infobar {position: absolute;}
/* slide customisation */
.ph-fancybox-base {
  border: 1px solid red; max-width: 96%; max-height: 93%; left: 50%!important;
    transform: translateX(-50%)!important;
    top: 2%;}
.ph-fancybox-slide {
  padding: 0;
}
.ph-fancybox-slide .fancybox-content { background-color: green;}
/*.ph-fancybox-slide.fancybox-slide--current,
.ph-fancybox-slide.fancybox-slide--complete {
transition: all 2s cubic-bezier(.25,.46,.45,.94)!important;
}
.ph-fancybox-slide.fancybox-slide--next {
  transform: translate3d(100%, 0, 0);
}
.ph-fancybox-slide.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0);
}*/

