main#vwg {
	position: relative;
}
.shape-blob {
	background: #6ed2da;
    filter: blur(180px);
    border-radius: 10% 70% 20% 100%;
    opacity: 0.8;
    position: absolute;
    height: 310px;
    width: 400px;
    right: -10%;
    top: 220px;
    overflow: hidden;
    z-index: 1;
}

.shape-blob.one{
background: #b3ddd6;
    height: 429px;
    width: 319px;
    left: -49px;
    top: 12%;
    opacity: 0.4;
/*	transform: rotate(-180deg);
	animation: transform 5s ease-in-out infinite both alternate, movement_two 5s ease-in-out infinite both;*/
}
.shape-blob.two{
    background: #8ec4c5;
    height: 310px;
    width: 280px;
    left: 20%;
    top: 22%;
    opacity: 0.6;
	/*transform: rotate(-180deg);
	animation: transform 10s ease-in-out infinite both alternate, movement_two 10s ease-in-out infinite both;*/
}
.shape-blob.three {
background: #bce4e1;
    height: 670px;
    width: 410px;
    left: 62%;
    top: 34%;
    opacity: 0.3;
/*	transform: rotate(-180deg);
	animation: transform 7s ease-in-out infinite both alternate, movement_two 23s ease-in-out infinite both;*/
}
.shape-blob.four{
    background: #9bd9d9;
    height: 270px;
    width: 380px;
    left: 60%;
    top: 68%;
    opacity: 0.4;
/*	transform: rotate(-180deg);
	animation: transform 17s ease-in-out infinite both alternate, movement_two 13s ease-in-out infinite both;*/
}
.shape-blob.five{
background: #99d8cd;
    height: 200px;
    width: 272px;
    left: 9%;
    top: 50%;
    opacity: 0.6;
/*	transform: rotate(-180deg);
	animation: transform 12s ease-in-out infinite both alternate, movement_two 18s ease-in-out infinite both;*/
}
.shape-blob.six{
background: #95dbce;
    height: 260px;
    width: 390px;
    left: 62%;
    top: 59%;
    opacity: 0.5;
	/*transform: rotate(-180deg);
	animation: transform 8s ease-in-out infinite both alternate, movement_two 20s ease-in-out infinite both;*/
}
