.cs .studies section .parallax.bg-img { 
    background-image: url('https://loremflickr.com/1200/600/files, office'); 
    background-attachment: fixed;
    background-position: center center;
    height: 400px; 
}

.cs #axs-1 { 
    background-image: url('https://loremflickr.com/1200/600/audience,crowd');}
.cs #axs-2 { 
    background-image: url('https://loremflickr.com/1200/600/live,gig');}
.cs #axs-3 { 
    background-image: url('https://loremflickr.com/1200/600/matrix,code,dark');}
.cs #axs-4 { 
    background-image: url('https://loremflickr.com/1200/600/theo2');}
.cs #sam-1 { 
    background-image: url('https://loremflickr.com/1200/600/mobile,phone');}
.cs #sam-2 { 
    background-image: url('https://loremflickr.com/1200/600/webpage,computer');}
.cs #sam-3 { 
    background-image: url('https://loremflickr.com/1200/600/washer,dryer,laundry');}
.cs #sam-4 { 
    background-image: url('https://loremflickr.com/1200/600/tablet,device');}
.cs #twc-0 { 
    background-image: url('https://loremflickr.com/1200/600/candle,fire,flame');}
.cs #twc-1 { 
    background-image: url('https://loremflickr.com/1200/600/sea,shell,sand,waves');}
.cs #twc-2 { 
    background-image: url('https://loremflickr.com/1200/600/driftwood,forest,leaves');}
.cs #twc-3 { 
    background-image: url('https://loremflickr.com/1200/600/woolen,cardigan,jumper');}
.cs #twc-4 { 
    background-image: url('https://loremflickr.com/1200/600/fashion,designer,model');}