/*== CS Pages
==================================================================*/
body.cs {
    margin-top: 80px;
     background-color: var(--bg-grey-100);
/*    background-color: bisque;*/
}
/*body.cs section {background: rgba(230,230,230,1);}*/
body.cs main {
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    background-color: white;
/*    , 0 -30px 30px -10px white*/

}
body.cs main .container {
/*    background-color: red;
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.4), 0 -30px 30px -10px white;*/
}

body.cs main section {
    position: relative;
    z-index: 1000!important;
}
.cs .studies p { 
    color: var(--ph_darktext, #e6e6e6);
    margin-bottom: 12px;
    font-size: 14px;
    width: 94%;
    line-height: 1.5em;
}
.cs .studies h1 {
    color: black;
    font-weight: 600;
    font-size: 36px;
}
.cs .studies img.logo {
/*    margin-bottom: 16px;*/
}
.cs .studies h2 {
    color: black;
    font-weight: 500;
    letter-spacing: .6px; 
    margin-top: 0;
    font-size: 24px;
    padding-bottom: 2%;
}
.cs .studies h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .8px; 
/*    color: black;*/
    color: var(--vw-primary);
}
.cs .studies h6 {
/*    color: rgb(var(--ph_primary));*/
    color: var(--vw-primary);
    margin-bottom: 0;
    margin-top: 30px;
}
.cs h6.line {
  display: table;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  padding: 0 30px 0 15px;
}
.cs h6.line:after {
    border-top: 1px solid var(--vw-lite);
/*  border-top: 1px solid rgb(var(--ph_primary));*/
  content: '';
  display: table-cell;
  position: relative;
  top: 0.5em;
  width: 100%;
  left: 1.5%;
}
.cs .case-nav {
    background-color: black;
    color: white;}
.cs .case-nav div {
    border: 1px solid white; 
    display: block;
    color: white!important;}
.cs .case-nav .row {
    height: 100%; width: 100%; display: inline;}
    .cs #navigation {
        border-bottom: 8px solid var(--vw-primary);
    }
#cs-prev i, #cs-prev p {
    float:left; padding-right: 12px; border: 1px solid blue; display: block; height: 50px;}
#cs-next i, #cs-next p {
    float:right; padding-left: 12px;border: 1px solid blue; height: 50px;}
/*.cs main.studies { margin-top: 12px;}*/
.cs main.studies ul {  column-count: 2; column-gap: 8%;}
.cs main.studies ul li {
    font-size: 1em;
    display: block;
    line-height: 1.2em;
    margin-bottom: 10px;
    border: 1px solid pink;}
.cs main.studies ul li:before { content: "-"; margin-right: 6px;}
.cs .studies .hero-header {
    padding-bottom: 24px;
}
.cs .studies section {
    padding: 0; 
}
.cs .studies section .container {
    /*border: 1px solid green; 
    padding: 0;
    padding-top: 16px; padding-bottom: 16px;*/
    padding: 8px 36px;
    max-width: 1024px;
/*    background-color: white;*/
}
.cs .studies section .container .row {
    margin: 10px 0; 
/*    border: 1px solid red;*/
}
.cs .studies section .container div div h3 {
    padding-top: 0!important;
}
/*.cs .studies section .container div div:not(:first-of-type) h3 {padding-top: 32px!important; }*/
.cs hr {
/*    height: 10%; */
    width: auto;
    height: 24px;
    border: 0!important;
    margin-top: 0;
    margin-bottom: 0;
    /*border: 1px solid red; 
    background-color: black;*/
}
.cs hr.mob {
    display: none;
    }
.cs .studies section .parallax {
    margin: 0; 
    padding: 0; 
    height: 100%;
}
.cs .studies section .parallax img {
    width: 80%;
    height: auto;
    padding: 40px 0 0;
}
.cs .studies section .container .mod-50 {
    height: auto;
    padding: 0 15px; 
    margin: 40px 0;
}
.cs .studies section .container .mod-50>div {
    background-color: var(--bg-grey-200);
}
.cs .studies section .container .mod-50 p {
    width: 96%;
margin-bottom: 0;
}
.display-flex-center {
    display: flex;
    align-items: center; 
}
#cards>div {
    padding: 8px; 
}
.cs .studies .card {
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.23);
    background-color: #FFFFFF;
    height: 100%;
    padding-bottom: 24px;
    max-width: 400px; 
}
.cs .studies .card img {
    padding-bottom: 24px;
    max-width: 440px;
    border-radius: 6px 6px 0 0; 
}
.cs .studies .card div h3, .cs .studies .card div p {
    padding: 0 16px; 
    width: 100%;
}
/* center content within cols */
.col-center * {margin: 0 auto;}
.cs .framed {
    background: white;
    box-shadow: 0 4px 15px -3px rgba(0, 0, 0, 0.3);
    width: 100%;
    margin: 0 auto; 
}
.cs .framed p {
    width: 100%;
}
.cs .img-framed {
    width: 100%;
    height: auto;
    background: var(--bg-grey-200);
    border: 12px solid var(--bg-grey-200); 
    box-shadow: 0 4px 15px -3px rgba(0, 0, 0, 0.3);
    padding-bottom: 32px;
    margin-bottom: 32px;
    position: relative;
}
.cs .img-framed.sm {
    width: 49%; 
    height: auto;
    border: 8px solid var(--bg-grey-200);
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, 0.3);
    margin-right: 2%;
    padding: 0;
    padding-bottom: 32px;
}
.cs .img-framed.sm:last-child {
    margin-right: 0;
}

/*.cs .img-framed.sm img {width: auto;}*/
/*.cs .img-inline { 
    display: inline-block;

}
.cs .img-inline img { 
    }*/
.cs .img-inline {
    display: flex;
  }
.cs .img-inline img {
    display: block;
    flex-basis: 0px;
    width: 0px;
    height: auto;
    margin: 8px;
  }
.cs p.captiontext {
    font-size: 0.9em; 
    color: var(--ph_midtext); 
    margin: 20px 0 0 0; 
    font-style: italic; 
}
.cs .captiontext.mob {
    text-align: center;
    }
.cs .img-framed p.captiontext {
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
    }
.object-fit-cover {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
    padding: 0; 
    overflow: hidden; 
}
p.cs-tag {
    padding: 2px 8px; 
    border-radius: 4px; 
    display: inline-block; 
    background-color: var(--bg-grey-300); 
    color: var(--ph_darktext)!important; 
    font-size: 10px!important; font-weight: 600!important;
    letter-spacing: .6px!important; 
    text-transform: uppercase; 
    margin-right: 6px; 
    width: auto!important;
}
.padding-0 {    padding: 0 !important; }
.padding-xs {   padding: 4px !important; }
.padding-sm {   padding: 8px !important; }
/* unspecified/standard bootstrap padding is 15px */
.padding-md {   padding: 24px !important; }
.padding-lg {   padding: 32px !important; }
.padding-xl {   padding: 44px !important; }




/******** images for case studies ********/
.parallax.bg-img.overlay {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}
.parallax.bg-img.shadow {
    box-shadow: inset 0 0 100px -10px rgba(0, 0, 0, 0.6);
}
.cs .studies section {
    background-repeat: no-repeat;
}
.cs #vwg #hero {
    background-image: url('../img/cs/vw/vw-hero.png');
    background-repeat: no-repeat;
    background-size: 52%;
    background-position: 110% 92%;
}
/*blurry shapes in background...*/
/*.cs .studies#vwg section { 
    border: 1px solid red;
    background-image: url('../img/cs/vw/vw-bg-1.png'); 
    background-size: 70%;
    background-position: center right;
    overflow: visible;
 }
 */
/* no longer needed/being used...
.cs #vwg #para-0 { 
    background-image: url('../img/cs/vw/home-case-vw-mob.png'); 
    width: 100%; 
    background-size: 100%; 
    background-position: top center; 
    height: 440px; 
    overflow: hidden; 
    box-shadow: none; }
.cs #vwg #para-0 img {
        width: 90%; padding-top: 10px; margin-top: -240px; }*/

.cs #vwg #para-1 { 
    background-image: url('https://loremflickr.com/1200/600/car,motorway,drive');
}
.cs #vwg #para-2 { 
    background-image: url('https://loremflickr.com/1200/600/campervan,vw');
}
.cs #vwg #para-4 { 
    height: auto; 
}

@media (min-width: 768px){
    .cs .studies section .container .mod-50 {
        height: 218px;
    }
    div#_8-3.framed {
        margin-left: 40px;
    }
    .cs .studies p.text-wrap {
        width: 100%;
        margin: 0 48px 48px 0;
     }
    .shape-wrap {
        float: right;
        shape-outside: url('../img/cs/vw/vw-planning.png');
        height: 500px;
        transform: translateX(32px);
    }
    .cs .captiontext.mob {
        display: none;
    }
/*    #cards>div:not(:last-child) {padding-right: 16px;}*/
}
@media (max-width: 767px){
    .cs .studies p {
        width: 100%;
    }
    .card {
        margin: 0 auto; max-width: 340px;}
    div#_8-3.framed {
        margin-left: 0;
    }
    .cs hr.mob {
        display: block;
        width: 100%;
    }
    .text-wrap {
        margin: 0; 
        text-align: left!important;
    }
    .shape-wrap {
      float: none;
      clear: both; 
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
    .cs .img-inline {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
    .cs .img-inline img {
        display: block;
        width: 80%!important;
        margin: 0 auto;
        }
    .cs .captiontext.dt {
        display: none;
    }
    .cs #vwg #hero {
        background-image: none;
/*        border: 1px solid green;
        width: 100%;
    background-image: url('../img/cs/vw/vw-hero.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 200%;*/
}
}